Repository magnet-cl/django-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color, eslint --fix

test: add pytest and test coverage
  .circleci/config.yml
  .coveragerc
  .gitignore
  README.md
  poetry.lock
  pyproject.toml
  pytest.ini
Due: none

chore: fix test env detection and avoid debug toolbar URL imports when testing
  project/settings.py
  project/urls.py
Due: none

add: base file field
  base/fields.py
  base/models.py
Due: none

chore: added fields section to readme
  README.md
Due: none

chore: delete removed 'load staticfiles'
  base/templates/base.pug
Due: none

chore: replace deprecated force_text with force_str
  base/mixins.py
  base/serializers.py
Due: none

chore: remove deprecated "u" in ugettext
  base/fields.py
  base/models.py
  base/views.py
  messaging/email_manager.py
  parameters/apps.py
  parameters/enums.py
  parameters/models.py
  parameters/validators.py
  project/app_template/apps.py-tpl
  project/app_template/models.py-tpl
  regions/apps.py
  regions/models.py
  users/admin.py
  users/apps.py
  users/forms.py
  users/models.py
  users/views.py
Due: none

chore: document updates and supported python/django versions of dependencies
  pyproject.toml
Due: none

chore: remove BetterModelForm
  base/forms.py
  poetry.lock
  pyproject.toml
Due: none

chore: update django-recaptcha
  poetry.lock
  pyproject.toml
Due: none

chore: use poetry syntax for versions
  pyproject.toml
Due: none

chore: update django-loginas
  poetry.lock
  pyproject.toml
Due: none

chore: update djangocms-admin-style
  poetry.lock
  pyproject.toml
Due: none

chore: update inflection
  poetry.lock
  pyproject.toml
Due: none

chore: move django-debug-toolbar to dev-dependencies
  poetry.lock
  pyproject.toml
Due: none

chore: update pytz
  poetry.lock
  pyproject.toml
Due: none

chore: organize sass folder structure
  .stylelintrc
  assets/scss/abstracts/_+import.scss
  assets/scss/abstracts/_animations.scss
  assets/scss/abstracts/_functions.scss
  assets/scss/abstracts/_mixins.scss
  assets/scss/abstracts/_variables.scss
  assets/scss/base/_+import.scss
  assets/scss/base/_base.scss
  assets/scss/base/_type.scss
  assets/scss/base/_typography.scss
  assets/scss/components/_+import.scss
  assets/scss/components/_fixed-notification.scss
  assets/scss/layout/_footer.scss
  assets/scss/layout/_main.scss
  assets/scss/layout/_navbar.scss
  assets/scss/layout/_sections.scss
  assets/scss/layout/sections/_base.scss
  assets/scss/layouts/_+import.scss
  assets/scss/layouts/_footer.scss
  assets/scss/layouts/_navbar.scss
  assets/scss/layouts/_page.scss
  assets/scss/main.scss
  assets/scss/utilities/_+import.scss
  assets/scss/utilities/_colors.scss
  assets/scss/utilities/_dim.scss
  assets/scss/utilities/_highlight-alert.scss
  assets/scss/vendor/_boostrap.scss
  assets/scss/vendors/_+import.scss
  assets/scss/vendors/_bootstrap.scss
Due: stylelint --fix --color

fix: audit log storing sensitive fields
  base/signals.py
Due: none

chore: update bootstrap version to v5
  assets/scss/abstracts/_mixins.scss
  assets/scss/abstracts/_variables.scss
  assets/scss/utilities/_+import.scss
  assets/scss/utilities/_colors.scss
  assets/scss/vendors/_bootstrap.scss
  base/templates/base.pug
  package-lock.json
  package.json
Due: stylelint --fix --color

feat: use rgb colors to utilities colors map Some utilities expect the colors has a rgb css variable to work properly
  assets/scss/abstracts/_functions.scss
  assets/scss/abstracts/_variables.scss
  assets/scss/base/_+import.scss
  assets/scss/base/_root.scss
Due: stylelint --fix --color

feat: add color utilities and remove unused ones
  assets/scss/abstracts/_variables.scss
  assets/scss/utilities/_+import.scss
  assets/scss/utilities/_utilities.scss
  assets/scss/vendors/_bootstrap.scss
Due: stylelint --fix --color

refactor: move highlight classes to components and transitions
  assets/scss/base/_+import.scss
  assets/scss/base/_transitions.scss
  assets/scss/components/_+import.scss
  assets/scss/components/_alert.scss
  assets/scss/utilities/_+import.scss
  base/templates/base.pug
Due: stylelint --fix --color

feat: update alert b5 classes and attributes
  base/templates/base.pug
  project/settings.py
Due: none

feat: add lint action
  .circleci/config.yml
Due: none

feat: update navbar b5 classes and attributes
  assets/scss/utilities/_utilities.scss
  base/templates/base.pug
  base/templates/includes/dropdown/dropdown_link.pug
  base/templates/includes/navbar.pug
  base/templates/includes/navbar/navbar.pug
  base/templates/includes/navbar/navbar_link.pug
Due: stylelint --fix --color

fix: footer bg color
  assets/scss/layouts/_footer.scss
Due: stylelint --fix --color

feat: update forms b5 classes and layout
  base/templates/form.pug
  base/templates/includes/field.pug
  users/templates/registration/login.pug
  users/templates/registration/password_change_form.pug
  users/templates/registration/password_reset_confirm.pug
  users/templates/registration/password_reset_form.pug
  users/templates/users/list.pug
Due: none

feat: update text alignment b5 classes
  base/templates/includes/list_th.pug
  base/templates/includes/pagination.pug
  project/app_template/templates/app_name/delete.pug-tpl
  project/app_template/templates/app_name/list.pug-tpl
  users/templates/users/detail.pug
Due: none

feat: add npm to cache
  .circleci/config.yml
Due: none

feat: add select2 bootstrap theme
  assets/js/index.js
  assets/scss/vendors/_+import.scss
  assets/scss/vendors/_select2.scss
  base/templates/base.pug
  package-lock.json
  package.json
Due: stylelint --fix --color, eslint --fix

feat: import tempus dominus bootstrap 4 source styles So its variables can be overridden anytime
  assets/scss/vendors/_+import.scss
  assets/scss/vendors/_tempus-dominus-bootstrap-4.scss
  base/templates/base.pug
Due: stylelint --fix --color

feat: install black and flake8
  poetry.lock
  pyproject.toml
Due: none

feat: add flake8 to lint action
  .circleci/config.yml
Due: none

refactor: reduce use of jquery on tempus dominus picker initialization
  assets/js/behaviors/input-time-picker.js
  assets/js/index.js
  assets/js/vendors/tempus-dominus.js
Due: eslint --fix

refactor: remove jquery on input-rut.js
  assets/js/behaviors/input-rut.js
Due: eslint --fix

refactor: reduce use of jquery on app.js and index.js
  assets/js/app.js
  assets/js/index.js
  assets/js/vendors/select2.js
  base/templates/form.pug
Due: eslint --fix

refactor: remove jquery on status.js
  assets/js/behaviors/status.js
  assets/js/index.js
  assets/js/status.js
  base/templates/status.pug
  webpack.common.js
Due: eslint --fix

refactor: import regions.js on index.js
  README.md
  assets/js/behaviors/regions.js
  assets/js/index.js
  regions/static/regions/regions.js
Due: eslint --fix

feat: remove test on push
  .pre-commit-config.yaml
Due: none

feat: add pre-commit
  .husky/pre-commit
  .husky/pre-push
  .pre-commit-config.yaml
  api/urls.py
  manage.py
Due: none

Path conditions:
  stylelint --fix --color: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.js
