Repository magnet-cl/django-project-template: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix --color, eslint --fix

feat: add pytest to pyproject
  pyproject.toml
  pytest.ini
Due: none

feat: update circle ci, add isort config to pyproject
  .circleci/config.yml
  pyproject.toml
Due: none

feat: undo unnecessary changes
  .husky/pre-commit
  api/urls.py
  manage.py
Due: none

refactor: move app utils to utils folder
  assets/js/index.js
  assets/js/utils/app.js
Due: eslint --fix

fix: add filter-files to isrot
  pyproject.toml
Due: none

feat: install choices.js
  .eslintrc
  assets/js/behaviors/regions.js
  assets/js/index.js
  assets/js/vendors/choices.js
  assets/js/vendors/select2.js
  assets/scss/vendors/_+import.scss
  assets/scss/vendors/_choices.scss
  base/templates/base.pug
  package-lock.json
  package.json
Due: stylelint --fix --color, eslint --fix

fix: add missing pre-commit dependency
  poetry.lock
  pyproject.toml
Due: none

feat: use choices for region and commune selects
  .eslintrc
  assets/js/behaviors/regions.js
  assets/js/vendors/choices.js
  assets/scss/vendors/_+import.scss
  assets/scss/vendors/_select2.scss
  base/templates/base.pug
  package-lock.json
  package.json
  webpack.common.js
Due: stylelint --fix --color, eslint --fix

feat: add styles to choices single select
  assets/scss/abstracts/_variables.scss
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

fix: add django-cron to installed apps
  project/settings.py
Due: none

feat: add styles to choices multiple select
  assets/scss/abstracts/_variables.scss
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

add: handle protected error in base delete view
  base/views.py
Due: none

moved file_path to module base.fields.functions
  base/fields/__init__.py
  base/fields/base.py
  base/fields/functions.py
Due: none

feat: add styles to choices dropdown
  assets/scss/abstracts/_variables.scss
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

feat: add validation styles to choices
  assets/js/utils/traversing.js
  assets/js/vendors/choices.js
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color, eslint --fix

feat: add focus style to choices remove button
  assets/scss/abstracts/_variables.scss
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

feat: add styles to choices placeholder input
  assets/js/vendors/choices.js
  assets/scss/abstracts/_variables.scss
  assets/scss/components/_+import.scss
  assets/scss/components/_forms.scss
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color, eslint --fix

feat: add ellipsis to choices single select text
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

refactor: flatten choices modifier rules
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

feat: add style to choices group heading and item
  assets/scss/abstracts/_variables.scss
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

fix: do not show placeholder on disabled choices multiple
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

fix: 'undefined' text as placeholder when there is no placeholder text
  assets/js/behaviors/regions.js
Due: eslint --fix

refactor: use or set $choices variables only if its useful
  assets/scss/abstracts/_variables.scss
  assets/scss/vendors/_choices.scss
Due: stylelint --fix --color

chore: replace select2 info with choices in README
  README.md
Due: none

fix base model to dict method
  base/models.py
Due: none

feat: add health check pre-commit hook
  .pre-commit-config.yaml
Due: none

docs: add deprecation warning
  README.md
Due: none

Path conditions:
  stylelint --fix --color: any of: **/*.{css,scss}
  eslint --fix: any of: **/*.js
